* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 900;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 3%;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.85xVOclqtHGjvY0UzONrKgHaE7&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}    

.overay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.895);
    background-size: cover;
    z-index: 1001;
}

.head{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head p{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 208, 0);
}

.card{
    position: relative;
    width: 30%;
    text-align: center;
}

.cards{
    height: min-content;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

span{
    position:absolute;
    padding: 5px 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 208, 0);
    bottom: 395px;
    left: 180px;
}

a{
    color: black;
}